.bg-home {
    background-image: url("bookimg0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    vertical-align: middle;

}


 .bg-home-text {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 200px;


}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px !important;
    border: 0;
    margin-bottom: 0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    background: rgba(35,35,35, 0.7);
}

a{
    color: black;
     font-family: 'Raleway';
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 20px;
    color:white;
}
.title{

    font-size:100px;
        text-shadow: 1px 1px black;

}
.subtitle{

font-size:30px;
    text-shadow: 2px 2px black;

}

li{

    font-size:20px;
    color:black;
}
a{
    color:white;
}
 
h3{

    font-size: 27px;
    font-family: "Roboto";
}

  .smaller-image {
    width: 200px;
    height: 200px;
    border-radius:50%;
 
  }

  .padded{

    padding-top: 30px;

  }

  .bg-team {
    background-color: #E3F2FD;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -12px;

  }


  .bg-progress {
    background-color: #00a7e1;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -12px;
}

.bg-donate {
    background-color: #e8ecf2;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -12px;
}

.bg-footer {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

.color-blue{

    background-color: white;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -12px;}

    .grow { 
        transition: all .2s ease-in-out; 
    }
    .grow:hover { 
        transform: scale(1.1); 
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }

h1{

    font-size:45px;

}

p{
    font-size:20px;
}

.logo-image{
    width:250px;
    height:250px;
}

.modal {

   top: 25%; 

}